# Introducción a Tidyverse

Este Jupyter Notebook será la intro al paquete tidyverse. Usaremos un dataset sencillo y nos centraremos en las funciones más importantes. Lo primero es instalar el paquete:

In [2]:
install.packages(c("tidyverse","palmerpenguins"))

Installing packages into ‘/usr/local/lib/R/4.1/site-library’
(as ‘lib’ is unspecified)

La instalación se realiza solo una vez. Con la función `library` la llamamos:

In [3]:
library(tidyverse) # cargamos las librerias
library(palmerpenguins)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.8
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

La función `data` nos deja cargar datasets de los paquetes, en este caso el dataset `penguins`

In [20]:
data(package = 'palmerpenguins')


## 1) Echar un vistazo

Lo primero antes de trabajar con un dataset es darle un primer vistazo. Funciones útiles para esto son `glimpse`, `head`, y `tail`

In [21]:
glimpse(penguins)

Rows: 344
Columns: 8
$ species           <fct> Adelie, Adelie, Adelie, Adelie, Adelie, Adelie, Adel…
$ island            <fct> Torgersen, Torgersen, Torgersen, Torgersen, Torgerse…
$ bill_length_mm    <dbl> 39.1, 39.5, 40.3, NA, 36.7, 39.3, 38.9, 39.2, 34.1, …
$ bill_depth_mm     <dbl> 18.7, 17.4, 18.0, NA, 19.3, 20.6, 17.8, 19.6, 18.1, …
$ flipper_length_mm <int> 181, 186, 195, NA, 193, 190, 181, 195, 193, 190, 186…
$ body_mass_g       <int> 3750, 3800, 3250, NA, 3450, 3650, 3625, 4675, 3475, …
$ sex               <fct> male, female, female, NA, female, male, female, male…
$ year              <int> 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007…

`glimpse` nos da información sobre el tipo de datos:

* logical vectors <lgl> contiene TRUE o FALSE
* integer vectors <int> contiene enteros
* double vectors <dbl> contiene números reales
* character vector <chr> contiene strings ("") 
* factors <fct>, representan variables categóricas determinadas (llamadas levels)

In [22]:
head(penguins)

  species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Adelie  Torgersen 39.1           18.7          181               3750
2 Adelie  Torgersen 39.5           17.4          186               3800
3 Adelie  Torgersen 40.3           18.0          195               3250
4 Adelie  Torgersen   NA             NA           NA                 NA
5 Adelie  Torgersen 36.7           19.3          193               3450
6 Adelie  Torgersen 39.3           20.6          190               3650
  sex    year
1 male   2007
2 female 2007
3 female 2007
4 NA     2007
5 female 2007
6 male   2007

`head` nos entrega las primeras filas y `tail` las últimas

`head`, y `tail` son funciones que tienen argumentos. En este caso `n = número de filas por mostrar`

In [23]:
tail(penguins, n = 3)

  species   island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Chinstrap Dream  49.6           18.2          193               3775
2 Chinstrap Dream  50.8           19.0          210               4100
3 Chinstrap Dream  50.2           18.7          198               3775
  sex    year
1 male   2009
2 male   2009
3 female 2009

## 2) Manipular datos

Acá revisaremos funciones que nos dejar manipular el dataset y resumir información. Funciones útiles para esto son `mutate`, `filter`, `group_by`, y `select`. Además del operador `%>%`.

### Operador `%>%`

A veces mentalmente se traduce como "y luego...". La idea es encadenar una secuencia de funciones de forma que sea fácil leerla.

In [24]:
yo_a_las_6am %>%
    me_levanto %>%
    me_visto %>%
    tomo_desayuno

ERROR: Error in tomo_desayuno(.): could not find function "tomo_desayuno"

La idea es hacer el código fluido. Al igual que el ejemplo **el orden es muy importante**.

### Pregunta: Cuales son los pesos promedios de las hembras por isla?

Primero es útil la abstracción mental:

In [ ]:
penguins %>%
    selecciono_los_pesos_de_las_hembras %>%
    agrupo_por_isla %>%
    promedio_los_pesos

Ahora con los pasos definidos, usamos `filter`, `group_by`, y `mean`. Además del operador `%>%`.

In [34]:
penguins %>%
    filter(sex == "female") %>% 
    group_by(island) %>%
    summarize(promedio_hembras = mean(body_mass_g))

  island    promedio_hembras
1 Biscoe    4319.375
2 Dream     3446.311
3 Torgersen 3395.833

## 3) Funciones `mutate()`,  `filter()`, `group_by()`, `select()`, `rename()`,`arrange()` y otras

### `mutate()` crea o modifica una nueva variable

In [8]:
penguins %>% 
    mutate(razon_bill_length_depth = bill_length_mm / bill_depth_mm)%>% 
    tail(n = 3)

  species   island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Chinstrap Dream  49.6           18.2          193               3775
2 Chinstrap Dream  50.8           19.0          210               4100
3 Chinstrap Dream  50.2           18.7          198               3775
  sex    year razon_bill_length_depth
1 male   2009 2.725275
2 male   2009 2.673684
3 female 2009 2.684492

### `recode()`  modifica una variable de forma rápida

In [14]:
penguins %>% 
    mutate(sex = recode(sex, male = "macho", female = "hembra"))%>% 
    tail(n = 3)

  species   island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Chinstrap Dream  49.6           18.2          193               3775
2 Chinstrap Dream  50.8           19.0          210               4100
3 Chinstrap Dream  50.2           18.7          198               3775
  sex    year
1 macho  2009
2 macho  2009
3 hembra 2009

### `filter()`  retiene filas que cumplen con las condiciones que indica

In [57]:
penguins %>% 
    filter(sex == "female") %>% 
    tail(n = 3)

  species   island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Chinstrap Dream  45.7           17.0          195               3650
2 Chinstrap Dream  43.5           18.1          202               3400
3 Chinstrap Dream  50.2           18.7          198               3775
  sex    year
1 female 2009
2 female 2009
3 female 2009

### Para usar `filter()`  es útil conocer los operadores para indicar las condiciones:
* ==, >, >= etc.

* &, |, !

* is.na()

* between(), near()

Veamos unos ejemplos de operadores antes de seguir

In [45]:
penguins %>% # operador ! indica logical negation (NOT) y operador & indica logical AND
    filter(!sex == "female" &  between(body_mass_g,3000,3300))

  species island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Gentoo  Biscoe 46.5           14.8          217               5200
2 Gentoo  Biscoe 45.2           14.8          212               5200
  sex    year
1 female 2008
2 female 2009

In [56]:
penguins %>% # is.na() filtra las filas con NA y operador & indica logical OR
    filter(is.na(sex) | is.na(body_mass_g))

   species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1  Adelie  Torgersen   NA             NA           NA                 NA
2  Adelie  Torgersen 34.1           18.1          193               3475
3  Adelie  Torgersen 42.0           20.2          190               4250
4  Adelie  Torgersen 37.8           17.1          186               3300
5  Adelie  Torgersen 37.8           17.3          180               3700
6  Adelie  Dream     37.5           18.9          179               2975
7  Gentoo  Biscoe    44.5           14.3          216               4100
8  Gentoo  Biscoe    46.2           14.4          214               4650
9  Gentoo  Biscoe    47.3           13.8          216               4725
10 Gentoo  Biscoe    44.5           15.7          217               4875
11 Gentoo  Biscoe      NA             NA           NA                 NA
   sex year
1  NA  2007
2  NA  2007
3  NA  2007
4  NA  2007
5  NA  2007
6  NA  2007
7  NA  2007
8  NA  2008
9  NA  2009
10 NA  2009
11 NA  2009

### `group_by()`  agrupa variables para las siguientes operaciones. `ungroup()` termina la función

In [67]:
penguins %>% 
    group_by(sex) %>%
    summarize(promedio = mean(body_mass_g))%>%
    ungroup()

  sex    promedio
1 female 3862.273
2 male   4545.685
3 NA           NA

### Ahora podemos combinar  `filter()` y  `mutate()`

In [66]:
penguins %>% 
    filter(!is.na(sex) & !is.na(body_mass_g))%>% 
    group_by(sex) %>%
    summarize(promedio = mean(body_mass_g)) %>%
    ungroup()

  sex    promedio
1 female 3862.273
2 male   4545.685

###  `ungroup()` es importante!!

In [84]:
penguins %>% 
  group_by(sex) %>% 
  mutate(promedio_body_mass_g = mean(body_mass_g)) %>%    # calcula el promedio de peso de males y females
  mutate(promedio_bill_depth = mean(bill_depth_mm)) %>%  # calcula el promedio de bill_depth de males y females
  ungroup() %>% 
  tail(n = 6) # cerrando con ungroup()

  species   island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Chinstrap Dream  45.7           17.0          195               3650
2 Chinstrap Dream  55.8           19.8          207               4000
3 Chinstrap Dream  43.5           18.1          202               3400
4 Chinstrap Dream  49.6           18.2          193               3775
5 Chinstrap Dream  50.8           19.0          210               4100
6 Chinstrap Dream  50.2           18.7          198               3775
  sex    year promedio_body_mass_g promedio_bill_depth
1 female 2009 3862.273             16.42545
2 male   2009 4545.685             17.89107
3 female 2009 3862.273             16.42545
4 male   2009 4545.685             17.89107
5 male   2009 4545.685             17.89107
6 female 2009 3862.273             16.42545

### Para contar grupos usamos `tally()`

In [88]:
penguins %>% 
  group_by(sex, island) %>%
  tally(sort = TRUE) # sort = TRUE ordena de mayor a menor

  sex    island    n
1 male   Biscoe    83
2 female Biscoe    80
3 male   Dream     62
4 female Dream     61
5 female Torgersen 24
6 male   Torgersen 23
7 NA     Biscoe     5
8 NA     Torgersen  5
9 NA     Dream      1

### Trabajar con `group_by()` es útil en conjunto a `summarise()`

In [91]:
penguins %>% 
  group_by(sex, island) %>%
  summarise(
    n = n(),
    promedio_peso = mean(body_mass_g, na.rm = TRUE)
  )

`summarise()` has grouped output by 'sex'. You can override using the `.groups`
argument.

  sex    island    n  promedio_peso
1 female Biscoe    80 4319.375
2 female Dream     61 3446.311
3 female Torgersen 24 3395.833
4 male   Biscoe    83 5104.518
5 male   Dream     62 3987.097
6 male   Torgersen 23 4034.783
7 NA     Biscoe     5 4587.500
8 NA     Dream      1 2975.000
9 NA     Torgersen  5 3681.250

### Para terminar, un operador extra `%in%`, un poco de estadistica con `t.test` y  un plot
*  `%in%`  se traduce como "me quiero quedar con estos atributos"
*  `ggplot`  es la función base de tidyverse para graficar

### Misión: evaluar y graficar que tan diferente es la masa de las hembras en dos islas: Biscoe y Dream

In [103]:
penguins %>% 
  filter(island %in% c("Biscoe", "Dream") & sex == "female") %>%
  mutate(id_pinguinas = row_number()) %>%
  pivot_wider(names_from = island, values_from = body_mass_g)

    species   bill_length_mm bill_depth_mm flipper_length_mm sex    year
1   Adelie    37.8           18.3          174               female 2007
2   Adelie    35.9           19.2          189               female 2007
3   Adelie    35.3           18.9          187               female 2007
4   Adelie    40.5           17.9          187               female 2007
5   Adelie    37.9           18.6          172               female 2007
6   Adelie    39.5           16.7          178               female 2007
7   Adelie    39.5           17.8          188               female 2007
8   Adelie    36.4           17.0          195               female 2007
9   Adelie    42.2           18.5          180               female 2007
10  Adelie    37.6           19.3          181               female 2007
11  Adelie    36.5           18.0          182               female 2007
12  Adelie    36.0           18.5          186               female 2007
13  Adelie    37.0           16.9          185               female 2007
14  Adelie    36.0           17.9          190               female 2007
15  Adelie    39.6           17.7          186               female 2008
16  Adelie    35.0           17.9          190               female 2008
17  Adelie    34.5           18.1          187               female 2008
18  Adelie    39.0           17.5          186               female 2008
19  Adelie    36.5           16.6          181               female 2008
20  Adelie    35.7           16.9          185               female 2008
21  Adelie    37.6           17.0          185               female 2008
22  Adelie    36.4           17.1          184               female 2008
23  Adelie    35.5           16.2          195               female 2008
24  Adelie    37.3           17.8          191               female 2008
25  Adelie    36.9           18.6          189               female 2008
26  Adelie    38.9           18.8          190               female 2008
27  Adelie    35.7           18.0          202               female 2008
28  Adelie    34.0           17.1          185               female 2008
29  Adelie    36.2           17.3          187               female 2008
30  Adelie    38.1           18.6          190               female 2008
⋮   ⋮         ⋮              ⋮             ⋮                 ⋮      ⋮
112 Chinstrap 46.0           18.9          195               female 2007
113 Chinstrap 46.6           17.8          193               female 2007
114 Chinstrap 47.0           17.3          185               female 2007
115 Chinstrap 45.9           17.1          190               female 2007
116 Chinstrap 58.0           17.8          181               female 2007
117 Chinstrap 46.4           18.6          190               female 2007
118 Chinstrap 42.4           17.3          181               female 2007
119 Chinstrap 43.2           16.6          187               female 2007
120 Chinstrap 46.7           17.9          195               female 2007
121 Chinstrap 50.5           18.4          200               female 2008
122 Chinstrap 46.4           17.8          191               female 2008
123 Chinstrap 40.9           16.6          187               female 2008
124 Chinstrap 42.5           16.7          187               female 2008
125 Chinstrap 47.5           16.8          199               female 2008
126 Chinstrap 47.6           18.3          195               female 2008
127 Chinstrap 46.9           16.6          192               female 2008
128 Chinstrap 46.2           17.5          187               female 2008
129 Chinstrap 45.5           17.0          196               female 2008
130 Chinstrap 50.9           17.9          196               female 2009
131 Chinstrap 50.1           17.9          190               female 2009
132 Chinstrap 49.8           17.3          198               female 2009
133 Chinstrap 48.1           16.4          199               female 2009
134 Chinstrap 45.7           17.3          193               female 2009
135 Chinstrap 42.5           17.3          187               female 2009
136 Chinstrap 45.2           16.6          191               female 2009
137 Chinstrap 45.6           19.4          194               female 2009
138 Chinstrap 46.8           16.5          189               female 2009
139 Chinstrap 45.7           17.0          195               female 2009
140 Chinstrap 43.5           18.1          202               female 2009
141 Chinstrap 50.2           18.7          198               female 2009
    id_pinguinas Biscoe Dream
1    1           3400     NA
2    2           3800     NA
3    3           3800     NA
4    4           3200     NA
5    5           3150     NA
6    6             NA   3250
7    7             NA   3300
8    8             NA   3325
9    9             NA   3550
10  10             NA   3300
11  11             NA   3150
12  12             NA   3100
13  13             NA   3000
14  14             NA   3450
15  15           3500     NA
16  16           3450     NA
17  17           2900     NA
18  18           3550     NA
19  19           2850     NA
20  20           3150     NA
21  21           3600     NA
22  22           2850     NA
23  23           3350     NA
24  24             NA   3350
25  25             NA   3500
26  26             NA   3600
27  27             NA   3550
28  28             NA   3400
29  29             NA   3300
30  30             NA   3700
⋮   ⋮            ⋮      ⋮
112 112          NA     4150
113 113          NA     3800
114 114          NA     3700
115 115          NA     3575
116 116          NA     3700
117 117          NA     3450
118 118          NA     3600
119 119          NA     2900
120 120          NA     3300
121 121          NA     3400
122 122          NA     3700
123 123          NA     3200
124 124          NA     3350
125 125          NA     3900
126 126          NA     3850
127 127          NA     2700
128 128          NA     3650
129 129          NA     3500
130 130          NA     3675
131 131          NA     3400
132 132          NA     3675
133 133          NA     3325
134 134          NA     3600
135 135          NA     3350
136 136          NA     3250
137 137          NA     3525
138 138          NA     3650
139 139          NA     3650
140 140          NA     3400
141 141          NA     3775